@model IEnumerable<SenorQuinuapata.GestionCostos.DataAccess.DataBase.Cargo>

@{
    ViewBag.Title = "Cargos";
}



<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table table-bordered table-hover small" id="table">

    <thead>
        <tr>
            <th>
                DESCRIPCIÓN
            </th>
            <th>
                SUELDO
            </th>
            <th>
                TIPO
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                DESCRIPCIÓN
            </th>
            <th>
                SUELDO
            </th>
            <th>
                TIPO
            </th>
            <th></th>
        </tr>
    </tfoot>



    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |

            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
    }

</table>
