@model SenorQuinuapata.GestionCostos.Models.PersonaViewModel
@{
    ViewBag.Title = "Personal";
}
<h2>Asistencia de personal</h2>

@*<div class="">
    <button class="btn btn-primary" onclick="generateCostosAsistencia()">Generar costos</button>
</div>*@

<div class="row well">
    <div class="col-md-3">
        <div class="form-group">
            <label>Fecha:</label>
            <input type="date" name="fecha_costo" class="form-control" value="" id="id_fecha_costo" />
        </div>
        <button class="btn btn-primary" onclick="generateCostosAsistencia()" id="btn_generar">Generar costos</button>
    </div>
    <div class="col-md-3">
        <div class="alert-warning well">
            <label>Atención!</label>
            <p>Usar esta función solo cuando haya finalizado el registro de datos.</p>
        </div>
        
    </div>
</div>



<hr />
@*<p class="text-success">Fecha: @DateTime.Now.ToShortDateString()</p>*@
<div class="row">
    <div class="col-md-3">
        <label>Fecha de Asistencia:</label>
        <input type="date" class="form-control" name="fecha_asistencia" value="" required  id="id_fecha_asistencia"/>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <label class="text-primary">Reiniciar Asistencia </label><button class="glyphicon glyphicon-refresh btn btn-success btn-sm" onclick="resetAsistencia()"></button>
    </div>
</div>

<div id="tableField">

    <table class="table table-bordered table-hover small" id="table">
        <thead>
            <tr>
                <td>#</td>
                <td class="text-center">DNI</td>
                <td class="text-center">NOMBRE COMPLETO</td>
                <td class="text-center">CARGO</td>
                <td class="text-center">ASISTENCIA</td>
                <td class="text-center">MARCAR</td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>#</td>
                <td class="text-center">DNI</td>
                <td class="text-center">NOMBRE COMPLETO</td>
                <td class="text-center">CARGO</td>
                <td class="text-center">ASISTENCIA</td>
                <td class="text-center">MARCAR</td>
            </tr>
        </tfoot>
        <tbody>
            @{
                int i = 1;
            }
            @if (Model.ListPersona != null)
            {
                foreach (var item in Model.ListPersona)
                {
                    <tr @*@((item.asistencia).Equals("A")? "class=text-success":"" )*@>
                        <td>@i</td>
                        <td class="text-center">@item.dni</td>
                        <td class="">@item.apellido_paterno @item.apellido_materno @item.nombres</td>
                        <td class="text-center">@item.cargo</td>
                        <td class="text-center">@item.asistencia</td>
                        <td class="text-center">
                            @if ((item.asistencia).Equals("F"))
                            {
                                <a @*href="@Url.Action("MarcarAsistencia","Persona", new { id=item.id })"*@ onclick="checkAsistencia(@item.id)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-check"></span></a>
                            }

                        </td>

                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

</div>

@section scripts{

    <script>

        function resetAsistencia() {

            var r = confirm("Atención! este función solo debe ser utilizada una vez al iniciar la jornada laboral para el control de asistencia respectivo, de ser ese el caso dar click en 'Aceptar', de lo contrario 'Cancelar'");

            if (r == true) {
                $.ajax({

                    method: 'get',
                    url: '/Persona/ResetAsistencia',
                    success: function () {
                        location.reload();
                    }

                })
            } else {
                return false;
            }
        }

        function generateCostosAsistencia() {
            var conf = confirm("¿Está seguro que ya ha culminado con el registrode datos?");

            var fecha_costo = $("#id_fecha_costo").val();       

            if (conf) {
                if (fecha_costo == "") {

                    alert("Seleccione la fecha")
                }
                else {
                    $.ajax({
                        method: "get",
                        type: "json",
                        url: "/Departamento/GenerateCostos/?fecha_costo=" + fecha_costo,
                        success: function (data) {
                            if (data == "success") {
                                alert("Los costos se han generado con éxito");
                                location.reload();
                            } else {
                                alert("A ocurrido un error al momento de generar los costos, por favor comuniquese con el responsable del sistema");
                            }
                        }


                    });
                }
            }
        }

        function checkAsistencia(id) {
            var fecha = $("#id_fecha_asistencia").val();

            if (fecha == "") {
                alert("Elija la fecha de asistencia")
            }else{
                $.ajax({
                    method: "get",
                    type: "json",
                    url: "/Persona/MarcarAsistencia/?id=" + id + "&&fecha=" + fecha,
                    success: function (data) {

                        if (data == "success") {
                            alert("Asistencia registrada");
                            $("#tableField").load(" #tableField>*", "");
                        }
                    }

                })
            }
        }

    </script>

}