@model SenorQuinuapata.GestionCostos.Entities.Request.ConsumoRequest
@{
    ViewBag.Title = "Registrar consumo";
}

<div class="col-md-6">
    <div class="small well">
        <h4 style="color:darkgreen">Registrar consumo</h4>
        @using (Html.BeginForm("Create", "Consumo", FormMethod.Post, new { id = "consumo-form" }))

        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Elemento de costo:</label>
                <select class="form-control" name="tipo" required id="tipo">
                    <option value="">----- Seleccionar -----</option>
                    <option value="md">Material Directo</option>
                    <option value="mi">Material Indirecto</option>
                </select>
            </div>

            <div class="form-group">
                <label>Fecha:</label>
                <input type="date" class="form-control" name="fecha" value="" required id="fecha"/>
            </div>

            <div class="form-group">
                <label>Producto:</label>
                <div class="col-md-12">
                    <div class="col-md-10">
                        <input type="text" class="form-control pull-left" name="nombre_producto" value="" id="id_nombre_producto" disabled required />
                        <input type="hidden" name="id_producto" value="" id="id_id_producto" />
                    </div>

                    <div class="col-md-2">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProductos">Seleccionar</button>
                    </div>
                </div>

            </div>

            @*<div class="form-group">
                <label>Código del producto:</label>
                <input type="text" class="form-control" name="codigo_producto" value="" id="id_codigo_producto" disabled required />
            </div>*@

            <div class="form-group">
                <label>Cantidad:</label>
                <input type="number" class="form-control" name="cantidad" value="" id="id_cantidad" required step="0.01"/>
            </div>

            <div class="form-group">
                <label>Costo Unitario (S/) :</label>
                <input type="number" class="form-control" name="costo_unitario" value="" id="id_cu" required step="0.01"/>
            </div>

            <div class="form-group">
                <label>Costo Total (S/):</label>
                <input type="number" class="form-control" name="" value="" id="id_ct" disabled required step="0.01" />
                <input type="hidden" class="form-control" name="total" value="" id="id_costo_total" />
            </div>

            <div class="form-group">
                <label>Destino:</label>
                <select class="form-control" name="id_departamento" id="id_departamento" required>
                    <option value="">----- Seleccionar -----</option>
                    <option value="1">Lactancia</option>
                    <option value="2">Recría</option>
                    <option value="3">Engorde</option>
                    <option value="4">Descarte</option>
                    @*<option value="7">Reproductor (Activo biológico)</option>*@
                </select>
            </div>

            <div class="form-group">

                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>


        }
    </div>

</div>


<div class="col-md-3">
    <div class="alert-warning well">
        <label>Atención!</label>
        <p>Usar esta función solo cuando haya finalizado el registro de datos.</p>
    </div>
    <div class="form-group">
        <label>Fecha:</label>
        <input type="date" name="fecha_costo" class="form-control" value="" id="id_fecha_costo"/>
    </div>
    <button class="btn btn-primary" onclick="generateCostos()" id="btn_generar">Generar costos</button>
</div>




<!-- Modal -->
<div id="modalProductos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Productos</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered small" id="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            @*<th>
                                NOMBRE
                            </th>*@
                            <th>
                                PRODUCTO
                            </th>
                            <th class="text-center">SELECCIONAR</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                #
                            </th>
                            @*<th>
                                NOMBRE
                            </th>*@
                            <th>
                                PRODUCTO
                            </th>
                            <th class="text-center">SELECCIONAR</th>
                        </tr>
                    </tfoot>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in ViewBag.ListProductos)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            @*<td>
                                @item.codigo
                            </td>*@
                            <td>
                                @item.nombre
                            </td>
                            <td class="text-center">
                                <a onclick="cargarProducto(@item.id,'@item.nombre','@item.codigo')" class="btn btn-info btn-xs glyphicon glyphicon-link"></a>
                            </td>
                        </tr>
                        i++;
                    }

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script>
        function cargarProducto(id, nombre, codigo) {
            $("#id_codigo_producto").val(codigo);
            $("#id_id_producto").val(id);
            $("#id_nombre_producto").val(nombre);

            //$("#producto").val(nombre);
            $("#modalProductos").modal('hide');
        }

        $("#id_cu").keyup(function () {

            var cu = $("#id_cu").val();
            var cant = $("#id_cantidad").val();

            var total = parseFloat(cu*cant)

            $("#id_ct").val(total);
            $("#id_costo_total").val(total);
        })

        $("#consumo-form").on("submit", function (e) {

            var cantidad = $("#id_ct").val();
            var departamento = $("#id_departamento option:selected").text();

            var send = confirm("¿Esta seguro que desea registrar S/" + cantidad + " de consumo en el departamento de " + departamento + " ?");

            if (send) {

                var tipo = $("#tipo").val();
                var cantidad = $("#id_cantidad").val();
                var total = $("#id_costo_total").val();
                var id_producto = $("#id_id_producto").val();
                var id_departamento = $("#id_departamento").val();

                //var data = {

                //    tipo: JSON.stringify(tipo),
                //    cantidad: JSON.stringify(cantidad),
                //    total: JSON.stringify(total),
                //    id_producto: JSON.stringify(id_producto),
                //    id_departamento: JSON.stringify(id_departamento)

                //}               
               
                $.ajax({
                    //url: '/Consumo/Create/?cantidad=' + cantidad + '&&fecha=' + fecha + '&&id_departamento=' + id_departamento + '&&id_producto='+id_producto+'&&tipo='+tipo+'&&total='+total,
                    url: '/Consumo/Create/',
                    method: 'post',                   
                    data: JSON.stringify({

                        tipo: tipo,
                        cantidad: cantidad,
                        total: total,
                        id_producto: id_producto,
                        id_departamento: id_departamento

                    }),   
                    success: function (data) {
                        alert("Registro exitoso");
                    }

                })

                 //$("#ingreso-form").on("submit");
            } else {
                e.preventDefault();
            }

        });


        function generateCostos() {
            var conf = confirm("¿Está seguro que ya ha culminado con el registro de datos?");

            var fecha_costo = $("#id_fecha_costo").val();       

            if (conf) {
                //console.log(fecha_costo)
                if (fecha_costo == "") {

                    alert("Seleccione la fecha")
                }
                else {
                    $.ajax({
                        method: "get",
                        type: "json",
                        url: "/Departamento/GenerateCostos/?fecha_costo=" + fecha_costo,
                        success: function (data) {
                            if (data == "success") {
                                alert("Los costos se han generado con éxito");
                                location.reload();
                            } else {
                                alert("A ocurrido un error al momento de generar los costos, por favor comuniquese con el responsable del sistema");
                            }
                        }


                    });
                }
                
            }
        }

    </script>

   


}


