@model SenorQuinuapata.GestionCostos.Models.DepartamentoViewModel
@{
    ViewBag.Title = "Movimientos";
}

@if (ViewBag.Departamento == 5)
{
    <h4>Departamento de Mortalidad</h4>
}
@if (ViewBag.Departamento == 6)
{
    <h4>Departamento de Ventas</h4>
}

<table class="table table-bordered small" id="table">
    <thead>
        <tr>
            <td>#</td>
            <td>FECHA</td>
            <td>EDAD</td>
            <td>GÉNERO</td>
            <td>CÓDIGO</td>
            <td>INGRESO</td>
            <td>SALIDA</td>
            <td>SALDO</td>
            <td>% AVANCE</td>
            <td>Q. EQUIVALENTE</td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>#</td>
            <td>FECHA</td>
            <td>EDAD</td>
            <td>GÉNERO</td>
            <td>CÓDIGO</td>
            <td>INGRESO</td>
            <td>SALIDA</td>
            <td>SALDO</td>
            <td>% AVANCE</td>
            <td>Q. EQUIVALENTE</td>
        </tr>
    </tfoot>

    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model.ListMovimientoDepartamento)
        {
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">@string.Format("{0:dd/MM/yyyy}", item.fecha)</td>
                <td class="text-center">@item.edad</td>
                <td class="text-center">@item.genero</td>
                <td class="text-center">@item.departamento</td>
                <td class="text-center">@item.ingreso</td>
                <td class="text-center">@item.salida</td>
                <td class="text-center">@item.saldo</td>
                <td class="text-center">@item.avance %</td>
                <td class="text-center">@item.q_equivalente</td>
            </tr>
            i++;
        }


    </tbody>
</table>

