@model SenorQuinuapata.GestionCostos.Models.DepartamentoViewModel
@{
    ViewBag.Title = "Movimientos";
}

@if (ViewBag.Departamento == 1)
{
    <h4>Departamento de Lactancia</h4>
}
@if (ViewBag.Departamento == 2)
{
    <h4>Departamento de Recría</h4>
}
@if (ViewBag.Departamento == 3)
{
    <h4>Departamento de Engorde</h4>
}
@if (ViewBag.Departamento == 4)
{
    <h4>Departamento de Descarte</h4>
}

@*<button class="btn btn-primary btn-sm">ENVIAR A ACTIVOS BIOLÓGICOS</button>*@
<table class="table table-bordered small table-hover" id="table">
    <thead>
        <tr>
            <td>#</td>
            <td>FECHA</td>
            <td>EDAD</td>
            <td>GÉNERO</td>
            <td>CÓDIGO</td>
            <td>INGRESO</td>
            <td>SALIDA</td>
            <td>SALDO</td>
            <td>% AVANCE</td>
            <td>Q. EQUIVALENTE</td>
            @*<td>C/U MD</td>
                <td>C/U MOD</td>
                <td>C/U CIF</td>
                <td>C/U TOTAL</td>
                <td>C/U COSTO TOTAL</td>*@
            @if (ViewBag.Departamento == 3)
            {
                <td>ENVIAR A ACTIVOS</td>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>#</td>
            <td>FECHA</td>
            <td>EDAD</td>
            <td>GÉNERO</td>
            <td>CÓDIGO</td>
            <td>INGRESO</td>
            <td>SALIDA</td>
            <td>SALDO</td>
            <td>% AVANCE</td>
            <td>Q. EQUIVALENTE</td>
            @*<td>C/U MD</td>
                <td>C/U MOD</td>
                <td>C/U CIF</td>
                <td>C/U TOTAL</td>
                <td>C/U COSTO TOTAL</td>*@
            @if (ViewBag.Departamento == 3)
            {
                <td>ENVIAR A ACTIVOS</td>
            }
        </tr>
    </tfoot>

    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model.ListMovimientoDepartamento)
        {
        <tr>
            <td class="text-center">@i</td>
            <td class="text-center">@string.Format("{0:dd/MM/yyyy}", item.fecha)</td>
            <td class="text-center">@item.edad</td>
            <td class="text-center">@item.genero</td>
            <td class="text-center">@item.departamento</td>
            <td class="text-center">@item.ingreso</td>
            <td class="text-center">@item.salida</td>
            <td class="text-center">@item.saldo</td>
            @if (item.avance > 120)
            {
                <td class="text-center">120 %</td>
            }
            else
            {
                <td class="text-center">@item.avance %</td>
            }
            <td class="text-center">@item.q_equivalente</td>

            @if (ViewBag.Departamento == 3)
            {
                if (item.saldo > 0)
                {
                    <td>
                        <button type="button" onclick="getCodigo(@item.id,'@item.genero',@item.saldo,'@string.Format("{0:dd/MM/yyyy}", item.fecha)')" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">ENVIAR</button>
                    </td>
                }
                else
                {
                    <td></td>
                }

            }
        </tr>
            i++;
        }


    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Enviar a Activos Biológicos</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RegisterActivoBiologico", "Departamento", FormMethod.Post, new { id = "activo-biologico-form" }))

                {
                    @Html.AntiForgeryToken()


                    <input type="hidden" name="id_movimiento" id="id_movimiento" class="form-control" />

                    <div class="form-group">

                        <label id="id_message_show" class="text-primary"> </label>
                        <input id="id_message" type="hidden" />

                    </div>

                    <div class="form-group">
                        <label>Fecha:</label>
                        @*<input type="text" id="id_fecha_show" class="form-control" value="" disabled/>
                        <input type="hidden" id="id_fecha" name="fecha" class="form-control" value="" />*@
                        <input type="date" name="fecha" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Género:</label>
                        <input type="text" id="id_genero_show" class="form-control" disabled required />
                        <input type="hidden" name="genero" id="id_genero" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Línea:</label>
                        <select class="form-control" name="raza" id="id_linea" required>
                            <option value="">-- Seleccionar --</option>
                            <option value="Andino 1">Andino 1</option>
                            <option value="Andino 2">Andino 2</option>
                            <option value="Andino 3">Andino 3</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Número de Poza:</label>
                        <input type="number" name="ubicacion" id="id_ubicacion" required class="form-control" />
                    </div>



                    <div class="form-group">
                        <label>Cantidad:</label>
                        <input type="number" name="cantidad" id="id_cantidad" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" id="id_submit" value="Guardar" class="btn btn-primary btn-sm" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>

        function getCodigo(id, genero, saldo,fecha) {

            $("#id_genero_show").val(genero);
            $("#id_genero").val(genero);

            $("#id_fecha").val(fecha);
            $("#id_fecha_show").val(fecha);

            $("#id_movimiento").val(id);

            $("#id_message_show").html("El saldo en este movimiento es de " + saldo);
            $("#id_message").val(saldo);
            


        }

        $("#activo-biologico-form").on("submit", function (e) {
            e.preventDefault();

            var cantidad = $("#id_cantidad").val();
            var ubicacion = $("#id_ubicacion").val();

            var send = confirm("¿Está seguro que desea registrar " + cantidad + " cuye(s) como reproductor (es) en la Poza " + ubicacion + "?");

            if (send) {
                $.ajax({
                    method: "post",
                    //type: "json",
                    url: "/Departamento/RegisterActivoBiologico",
                    data: $("#activo-biologico-form").serialize(),
                    success: function (data) {
                        if (data == "success") {
                            alert("El registro se ha realizado con éxito");
                        } else {
                            alert("Hubo un error en el registro, por favor intentelo nuevamente");
                        }

                        location.reload();
                    },
                    error: function () {
                        console.log("error de prueba");
                    }

                });
            }


        });

   


    </script>


}