@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/template/images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Bootstrap -->
    <link href="~/assets/template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/assets/template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/assets/template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/assets/template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/assets/template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/assets/template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/assets/template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/assets/template/build/css/custom.min.css" rel="stylesheet">
    @* DATATABLES *@
    <link href="~/assets/DataTables/datatables.css" rel="stylesheet" />


    
    
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/assets/template/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>@User.Identity.GetUserName()</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Principal</a>

                                </li>
                                <li>
                                    @*<a href="@Url.Action("Index","Departamento")"><i class="fa fa-edit"></i> Operaciones</a>*@
                                    <a><i class="fa fa-edit"></i> Registro<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("RegisterIngreso","Departamento")">Ingresos</a></li>
                                        <li><a href="@Url.Action("Create","Consumo")">Consumo</a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Departamentos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=1 })">Lactancia</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=2 })">Recría</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=3 })">Engorde</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=7 })">Activos Biológicos</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=4 })">Descarte</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=5 })">Mortalidad</a></li>
                                        <li><a href="@Url.Action("Movimientos","Departamento", new { id=6 })">Ventas</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index","Ingreso")"><i class="fa fa-edit"></i> Ingresos</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index","Producto")"><i class="fa fa-edit"></i> Productos</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index","Consumo")"><i class="fa fa-edit"></i> Consumo</a>

                                </li>
                                @*<li>
                                    <a href="@Url.Action("Index","Persona")"><i class="fa fa-edit"></i> Personal</a>

                                </li>*@
                                <li>
                                    <a><i class="fa fa-edit"></i> Personal <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Persona")">Lista</a></li>
                                        <li><a href="@Url.Action("Asistencia","Persona")">Asistencia</a></li>
                                        
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>


                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            @*<a href="javascript:document.getElementById('logoutForm').submit()"></a>*@
                            <a data-toggle="tooltip" data-placement="top" title="Salir" href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>

                        }

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/template/images/img.jpg" alt="">@User.Identity.GetUserName()
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Perfil</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li>

                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Salir</a>

                                        }


                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/assets/template/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/assets/template/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/assets/template/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/assets/template/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!-- jQuery -->
    <script src="~/assets/template/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/assets/template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/assets/template/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/assets/template/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/assets/template/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/assets/template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/assets/template/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/assets/template/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/assets/template/vendors/Flot/jquery.flot.js"></script>
    <script src="~/assets/template/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/assets/template/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/assets/template/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/assets/template/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/assets/template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/assets/template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/assets/template/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/assets/template/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/assets/template/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/assets/template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/assets/template/vendors/moment/min/moment.min.js"></script>
    <script src="~/assets/template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/assets/template/build/js/custom.min.js"></script>
    @* DATATABLES *@
    <script src="~/assets/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
