<li>
    <a> Registrar<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="@Url.Action("Register","Departamento")">Producción</a></li>
        <li><a href="@Url.Action("Create","Consumo")">Consumo</a></li>
    </ul>
</li>


<li>
    <a>Gestión de Personal <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">

        <li><a href="@Url.Action("Asistencia","Persona")">Asistencia de personal</a></li>

    </ul>
</li>

<li>
    <a href="@Url.Action("Index","Producto")">Productos</a>

</li>


<li>
    <a> Departamentos <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=1 })">Lactancia</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=2 })">Recría</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=3 })">Engorde</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=7 })">Reproductores</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=4 })">Descarte</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=5 })">Mortalidad</a></li>
        <li><a href="@Url.Action("Movimientos","Departamento", new { id=6 })">Ventas</a></li>
    </ul>
</li>

<li>
    <a href="@Url.Action("Index","Consumo")"> Consumo</a>

</li>

<li>
    <a href="@Url.Action("Index","Ingreso")"> Ingresos</a>

</li>











